@import url(./reset.css);

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
}

.logoNav {
    position: absolute;
    top: -60px;
    z-index: 2;
}

.controlMenu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.74px;
        text-align: center;
        color: #000000;
    }
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
    position: relative;

    input {
        width: 240px;
        height: 40px;
        border-radius: 8px 8px 8px 8px;
        background-color: #D9D9D9;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 15px;
        font-size: 20px;
    }

    .clickToSearch {
        width: 40px;
        height: 100%;
        background-color: #EA4D68;
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        right: 10px;
        border: none;
        text-align: center;
        cursor: pointer;
    }

}

.searchLanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.dropbtn {
    width: 56px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    transition: transform 0.6s;
    background-color: #EA4D68;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.rotate-arrow {
    transform: rotate(180deg);
}

.main {
    background-color: #113B48;
    position: relative;
    padding-top: 65px;
}


h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 70.93px;
    text-align: center;
    color: white;
    padding-bottom: 65px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.alphabet {
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;
}

.content {
    display: flex;
    gap: 8px;
    /* Если нужно добавить отступы между элементами */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: none;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    transition: 0.6s;
}

.grid-item:hover {
    background-color: red;
    transition: 0.6s;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
}

.wrapperes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.streetsLetter {
    position: relative;
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.streetsLetter::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
}

.letter {
    align-self: flex-start;
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.street {
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #D9D9D9;
    color: #C00C4B;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.46px;
    text-align: left;
    padding: 5px;
    margin-top: 16px;
}


#myBtn {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    pointer-events: none;
    /* Сначала кнопка не кликабельна */
}

#myBtn.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease;
    pointer-events: auto;
    /* Делает кнопку кликабельной */
}

#myBtn:hover {
    background-color: #555;
    transition: background-color 0.6s ease;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
        font-size: 16px;
        font-weight: 400;
        line-height: 23.12px;
        text-align: left;
        text-decoration: none;
        color: #000000;
    }
}

.firstLine {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.footerLogoName {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        font-size: 28px;
        font-weight: 700;
        line-height: 38.19px;
        text-align: center;
    }
}

.infoFooter {
    width: 308px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 23.12px; */
    text-align: left;
}

.number, .mail, .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.end {
    text-align: center;
    background-color: #113B48;
    color: white;
    padding: 10px;
}